*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}

.card {
  background-color: rgb(255, 55, 88);
  color: white;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

.nav {
  background-color: rgb(50, 248, 182);
  padding: 20px;
  margin: 5px;
}