*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: rgb(33, 33, 33);
}

.parent {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 300px;
  border: 2px solid white;
  background-color: #222;
  color: white;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}

.card img {
  width: 100px;
  border: 1px dotted white;
  border-radius: 50%;
  object-fit: cover;
}

.card p {
  margin: 20px 0;
}

.card button {
  padding: 10px 20px;
  background-color: white;
  color:black;
  margin: 20px;
  border: none;
  border-radius: 10px;
}